Hello

- if @restaurant.any?
  - @restaurant.each do |restaurant|
    = link_to restaurant.name, restaurant_path(restaurant)
    %br
    - if current_user != nil
      - if restaurant.user_id == current_user.id
        = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
        %br
        = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
        %br
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    - if restaurant.reviews.any?
      - restaurant.reviews.each do |review|
        %p= review.thoughts
        = link_to "Endorse Review", new_review_endorsement_path(review)
        %p= pluralize review.endorsements.count, 'endorsement'
        - if current_user != nil
          - if review.user_id == current_user.id
            = link_to "Delete review", review_path(review), method: :delete
    %h3 Average rating: #{star_rating(restaurant.average_rating.to_i)}
- else
  %h1 No restaurants yet!

= link_to "Add a restaurant", new_restaurant_path
