- if @restaurant.errors.any?
  %section#errors
    %h2
      =pluralize @restaurant.errors.count, "error"
      prohibited this restaurant from being saved:
    %ul
      - @restaurant.errors.full_messages.each do |message|
        %li= message
- else
  = form_for @restaurant do |form|
    = form.label :name
    = form.text_field :name
    = form.label :description
    = form.text_field :description
    = form.submit
